






body{
    font-family: 'Roboto', sans-serif  !important;
}



.nav-link{

color:white;
font-weight: 700;

}


.a{

    color:white;
    font-weight: 700;
}


a:hover {
    color: white !important;
}

